# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator
*.autosave

# Vim
*.swp
.DS_store

# MSVC
*.TMP
*.tmp

# gedit
~*

# assets
*.png
*.ttf

output/
/output/

assets/
/assets/

sdks/
/sdks/

sdk/
/sdk/

.vscode/
/.vscode/

build/
/build/

.idea/
/.idea/

cmake-build*/
/cmake-build*/

CMakeLists.txt.user

.classpath
.project

.settings/
/.settings/

ios-build/
/ios-build/

wasm-build/
/wasm-build/