<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.gearoenix.demo" android:versionCode="1" android:versionName="1">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="14"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <application android:label="Gearoenix Demo" android:allowBackup="true" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".GameActivity" android:configChanges="orientation|keyboardHidden" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!-- Tell NativeActivity the name of our .so -->
            <meta-data android:name="android.app.lib_name" android:value="native-activity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
