<?xml version="1.0"?>
<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.gearoenix.demo"
  android:versionCode="1"
  android:versionName="1">
    <uses-sdk
      android:minSdkVersion="9"
      android:targetSdkVersion="9"/>
    <uses-permission
      android:name="android.permission.SET_DEBUG_APP"/>
    <application
      android:allowBackup="true"
      android:label="Gearoenix-Demo"
      android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
      android:supportsRtl="true"
      android:hasCode="false">
        <activity
          android:name="android.app.NativeActivity"
          android:configChanges="orientation|keyboardHidden"
          android:label="Gearoenix Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        <meta-data
          android:name="android.app.lib_name"
          android:value="native-activity"/>
        </activity>
    </application>
</manifest>
