name: 'Ubuntu-25.10  '
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build, Test, and Coverage
    runs-on: ubuntu-latest
    container:
      image: noroozpour/gearoenix:linux-0.1
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Echos
        run: |
          echo "CC=$CC"
          echo "CXX=$CXX"
          echo "CMAKE_BUILD_PARALLEL_LEVEL=$CMAKE_BUILD_PARALLEL_LEVEL"
          echo "LLVM_PROFILE_FILE=$LLVM_PROFILE_FILE"
          echo "VULKAN_SDK=$VULKAN_SDK"
          echo "EMSDK=$EMSDK"
          echo "VCPKG_ROOT=$VCPKG_ROOT"
          echo "PATH=$PATH"
      - name: Building Release
        run: |
          cmake --fresh --preset linux-release &&
          cmake --build --preset linux-release
      - name: Building debug, tests and coverage
        run: |
          cmake --fresh --preset linux-debug &&
          cmake --build --preset linux-debug &&
          cd build/linux/debug/tests &&
          ctest &&
          llvm-profdata-20 merge -sparse $LLVM_PROFILE_FILE -o gearoenix.profdata &&
          llvm-cov-20 show ./GearoenixGameEngineTests -instr-profile=gearoenix.profdata > coverage.txt
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/linux/debug/tests/coverage.txt
          flags: unittests,linux
          name: gearoenix-test-coverage
          fail_ci_if_error: true
          verbose: true