name: 'WASM  '
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: noroozpour/gearoenix:linux-0.1
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Echos
        run: |
          echo "CC=$CC"
          echo "CXX=$CXX"
          echo "CMAKE_BUILD_PARALLEL_LEVEL=$CMAKE_BUILD_PARALLEL_LEVEL"
          echo "LLVM_PROFILE_FILE=$LLVM_PROFILE_FILE"
          echo "VULKAN_SDK=$VULKAN_SDK"
          echo "EMSDK=$EMSDK"
          echo "VCPKG_ROOT=$VCPKG_ROOT"
          echo "PATH=$PATH"
      - name: Building Release
        run: |
          source "$EMSDK/emsdk_env.sh" &&
          python3 wasm/build.py --no-server