name: 'Windows-2022  '
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build and Test
    runs-on: windows-2022
    defaults:
      run:
        shell: powershell
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Setup cache
        uses: actions/cache@v4
        id: cache
        with:
          path: |
            cmake/
            ninja/
          key: ${{ runner.os }}-windows-gearoenix-${{ hashFiles('.github/workflows/windows.yml') }}
      - name: Install CMake
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          Invoke-WebRequest "https://github.com/Kitware/CMake/releases/download/v4.1.2/cmake-4.1.2-windows-x86_64.zip" -OutFile "cmake.zip"
          Expand-Archive "cmake.zip" -DestinationPath "cmake"
          Remove-Item -Path "cmake.zip"
      - name: Setup CMake
        run: |
          $NewPath = (Get-Location).Path + "\cmake\cmake-4.1.2-windows-x86_64\bin"
          Write-Host "CMake Path: $NewPath"
          Add-Content -Path "$Env:GITHUB_PATH" -Value "$NewPath"
          Add-Content -Path "$Env:GITHUB_ENV" -Value "CMAKE_BUILD_PARALLEL_LEVEL=$((Get-CimInstance Win32_ComputerSystem).NumberOfLogicalProcessors * 8)"
      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git
          cd vcpkg
          .\bootstrap-vcpkg.bat
          cd ..
          Add-Content -Path "$Env:GITHUB_PATH" -Value "$Env:GITHUB_WORKSPACE\vcpkg"
          Add-Content -Path "$Env:GITHUB_ENV" -Value "VCPKG_ROOT=$Env:GITHUB_WORKSPACE\vcpkg"
      - name: Install Ninja
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          Invoke-WebRequest "https://github.com/ninja-build/ninja/releases/download/v1.13.1/ninja-win.zip" -OutFile "ninja.zip"
          Expand-Archive "ninja.zip" -DestinationPath "ninja"
          Remove-Item -Path "ninja.zip"
          Add-Content -Path "$Env:GITHUB_PATH" -Value "$Env:GITHUB_WORKSPACE\ninja"
      - name: Install VC Redist
        run: |
          Invoke-WebRequest "https://aka.ms/vs/17/release/vc_redist.x64.exe" -OutFile "vc_redist.exe"
          ./vc_redist.exe /install /quiet /norestart
      - name: Install Vulkan
        run: |
          Invoke-WebRequest "https://sdk.lunarg.com/sdk/download/latest/windows/vulkan-sdk.exe" -OutFile "vulkan.exe"
          ./vulkan.exe --root C:\vulkan --accept-licenses --default-answer --confirm-command install
          Write-Host "Vulkan Path: $Env:VULKAN_SDK"
          Add-Content -Path "$Env:GITHUB_PATH" -Value "C:\vulkan\Bin"
          Add-Content -Path "$Env:GITHUB_ENV" -Value "VULKAN_SDK=C:\vulkan"
      - name: Echo settings
        run: |
          Write-Host "Path: $Env:Path"
          Write-Host "CMake thread option: $Env:CMAKE_BUILD_PARALLEL_LEVEL"
      - name: Release Build
        run: |
          cmake --fresh --preset windows-release
          cmake --build --preset windows-release
      - name: Building Debug and Tests
        run: |
          cmake --fresh --preset windows-debug
          cmake --build --preset windows-debug
          Set-Location -Path build/windows/debug/tests
          .\GearoenixGameEngineTests.exe
